@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import '../SASS/helper/map';
@import '../SASS/helper/variables';
@import '../SASS/helper/mixin';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Header
/*
header {
  position: relative;
  background: cadetblue;
  //  height: 823px;
}

header .navcontent {
  display: flex;
  justify-content: space-around;
}

header .rightcontent {
  display: flex;
  justify-content: space-between;
  width: auto;
}

header .navelements {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style-type: none;
}

.navelemet:nth-child(5) {
  margin-left: 2rem;
} */

// .header {
//   text-align: center;
//   @include flex(center, center);
//   @include flex_colum(10px);
//   flex-wrap: wrap;
// }
// .header h3 {
//   color: $text-color;
//   font-size: map-get($fonts, fs-md);
//   font-weight: map-get($fonts, fw-lg);
// }
// .header .header_text {
//   width: 50%;
//   text-align: center;
//   @include flex(center, center);
// }
// .header .header_text p {
//   color: $second_text_color;
//   font-size: map-get($fonts, fs-xsm);
//   font-weight: map-get($fonts, fw-text-2);
// }

// header .container .header_navbar .logo_name,
//     header .container .header_navbar .menu_toggle
//     {
//         z-index: 1000;
//     }
//     header .container .header_navbar .menu_toggle {
//         right: 3%;
//     }
//     .header_navbar  .nav_bar .nav_list  {
//         display: none; //! JS ile duzelmeli burass
//         position: absolute;
//         width: 100%;
//         top: 0;
//         left: 0;
//     }
//     .header_navbar  .nav_bar .nav_list.active {
//         display: block;
//     }
//     header .header_navbar .nav_bar .nav_icon {
//         transform: translateX(-33px);
//     }
//     header .header_navbar .nav_bar .nav_list ul {
//         background-color: #F7F7F7;
//         height: 460px;
//         font-weight: 400;
//         display: flex;
//         flex-direction: column;
//         font-size: 30px;
//         gap: 30px;
//     }
//     //! Header about
//     header .container .header_about .header_content {
//         text-align: center;
//     }
//     header .container .header_about .header_content h2 {
//         font-size: map-get($fonts, fs-md);
//         font-weight: map-get($fonts, fw-lg );
//     }
//     header .container .header_about .header_content p {
//         font-size: map-get($fonts, fs-mobile-sm);
//         font-weight: map-get($fonts, fw-text-2 );
//         letter-spacing: 0;
//     }
//     header .container .header_about .header_content .total_btn {
//         @include flex(center, center);
//         @include flex_colum();
//     }


// Header End

//Section Industry start
.industry {
  // margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.industry .top-card {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;

  @media (max-width: 666px) {
    flex-direction: column;
    align-items: center;
  }
}

.industry .sectionname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.industry .sectionname .sectionTopic {
  font-family: "Montserrat", sans-serif;
  font-weight: map-get($fonts, fw-lg );
  margin-bottom: 10px;
  color: $text-color;
  margin-bottom: 10px;
}
.industry .sectionname .industryText {
  font-family: "Montserrat", sans-serif;
  font-weight: map-get($fonts, fw-text-2 );
  letter-spacing: 0.2px;
  font-size: map-get($fonts , fs-xsm);
  line-height: 20px;
  width: 470px;
  height: 40px;
  text-align: center;
  color: $second_text_color;
  @media (max-width: 666px) {
    width: auto;
  }
}

.industry .card-info {
  width: 328px;
  height: 385px;
  border: 1px solid #a9d6ff;
  border-radius: 11px;
}

.industry .top-card-name {
  @include flex(center,center);
  background-color: $card_header;
  gap: 1rem;
  height: 128px;
}

.industry .top-card-name img {
  width: 72px;
  height: 72px;
  background-color: $light_text_color;
  border-radius: 200px;
}

.industry .top-card-name h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: $text-color;
}

.industry .bottom-card-info {
  height: 250px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.industry .bottom-card-info ul {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $second_text_color;
}

.industry .bottom-card-info ul > li {
  margin-bottom: 5px;
}
.industry .bottom-card-info ul .learnMore {
  color: #ff7b47;
}

// Section Industry End

//Section Who we are start

.whoweare {
  // margin-top: 5rem;
  position: relative;
  .video iframe {
    @media (max-width: 666px) {
      width: 306px;
      height: 442px;
    }
  }
}
.whoweare .sectionname {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 409px;
  background-color: #fafafa;
  padding-top: 5rem;
}

.whoweare .sectionname .sectionTopic {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: $text-color;
  margin-bottom: 10px;
}

.whoweare .sectionname .industryText {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 20px;
  width: 470px;
  height: 40px;
  text-align: center;
  color: $second_text_color;
  @media (max-width: 666px) {
    width: auto;
  }

}

.whoweare .backSide {
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
}

.whoweare .video {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -55%);
}

//Section Who we are end

// Section Client Review Start

.clientReview {
  background: #f3f3f3;
  padding-top: 5rem;
  padding-bottom: 5rem;
  // height: 591px;
}

.clientReview .sectionname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-top: 5rem;
}

.clientReview .sectionname .sectionTopic {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: $text-color;
  margin-bottom: 10px;
}

.clientReview .sectionname .industryText {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 20px;
  width: 470px;
  height: 40px;
  text-align: center;
  color: $second_text_color;
  @media (max-width: 666px) {
    width: auto;
  }
}
.clientReview .top-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 3rem;
  flex-wrap: wrap;
  @media (max-width: 666px) {
    flex-direction: column;
  }
}

.clientReview .person-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 244px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.clientReview .person-card-include {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 20px;
}
.clientReview .person-card-include .points {
  color: gold;
}
.clientReview .person-card-include .reviewText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 24px;
  color: $second_text_color;
}

.clientReview .person-card-include .personalInfo {
  display: flex;
  gap: 15px;
}

// Client Review End

// Team Mates section Start

.teamMates {
  // margin-top: 5rem;
  padding-top: 5rem;
}
.teamMates .sectionname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-top: 5rem;
}

.teamMates .sectionname .sectionTopic {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: $text-color;
  margin-bottom: 10px;
}

.teamMates .sectionname .industryText {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 20px;
  width: 470px;
  height: 40px;
  text-align: center;
  color: $second_text_color;
  @media (max-width: 666px) {
    width: auto;
  }
}
.teamMates .top-team-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
  padding-bottom: 92px;
  flex-wrap: wrap;
}
.teamMates .top-team-cards .card-data {
  width: 328px;
  height: 373px;
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
}
.teamMates .top-team-cards .personal-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 5px;
}

.teamMates .top-team-cards .personal-data h5 {
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
}
.teamMates .top-team-cards .personal-data h6 {
  font-family: "Montserrat";
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 24px;
  color: $second_text_color;
}
.teamMates .top-team-cards .personal-data .socialmedias {
  display: flex;
  gap: 15px;
}
.teamMates .top-team-cards .personal-data .socialmedias > i {
  color: $secondary-color;
}

// Team Mates section End

//Make An Appointment section Start

.appointment {
  background-image: url("/Image/makeAppointment.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  // height: 681px;
}

section.appointment .topictitle {
  padding-top: $responsive-padding-top;
  padding-left: $responsive-padding-left;
  @media (max-width: 768px) {
    padding-top: $responsive-padding-top / 2;
    padding-left: $responsive-padding-left / 2;
  }

  @media (max-width: 480px) {
    padding-top: $responsive-padding-top / 4;
    padding-left: $responsive-padding-left / 4;
  }
}

.appointment .infos h5 {
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 16px;
  color: $text-color;
}
.appointment .infos h2 {
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 40px;
  line-height: 57px;
  color: $text-color;
}

section.appointment form input,
select,
textarea {
  margin-top: 1rem;
  margin-right: 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  text-indent: 2rem;
}

.appointment form input:nth-child(1) {
  width: 285px;
  height: 50px;
}
.appointment form input:nth-child(2) {
  width: 290px;
  height: 50px;
}
section.appointment form .select1 {
  /* Styles for the first select */
  width: 285px;
  height: 50px;
}
section.appointment form .select2 {
  width: 291px;
  height: 50px;
}

section.appointment form textarea {
  width: 598px;
  height: 140px;

  @media (max-width: 768px) {
    width: 286px;
    height: 140px;
  }

  
}

section.appointment button {
  width: 218px;
  height: 58px;
  background-color: $primary;
  color: $light_text_color;
  border: 1px solid $info;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 85px;
}

//Make An Appointment section End

// Contact section start
section.contact {
  height: 142px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 666px) {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 50px;
  }
}

section.contact .contactdetail h3 {
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  color: $text-color;
  line-height: 32px;
}

section.contact .contactdetail p {
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: $second_text_color;
  line-height: 20px;
}

section.contact button {
  background: $primary;
  color: $light_text_color;
  width: 160px;
  height: 58px;
  border: 1px solid $primary;
  border-radius: 5px;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 28px;
  @media (max-width: 666px) {
    margin-top: 50px;

    width: 283px;
    height: 58px;
  }
}

// Contact section end

// Footer start

footer {
  // height: 452px;
  background-color: $text-color !important;
  color: $light_text_color !important;
}
footer .catchalldivs {
  width: 85%;
}

footer .catchalldivs .topData {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 57px;

  @media (max-width:666px) {
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
    
  }
}

footer .catchalldivs .topData h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $light_text_color;
}
footer .catchalldivs .topData .socialmedias > a {
  font-size: 24px;
  margin-right: 20px;
}
footer .catchalldivs .topData .socialmedias a:nth-child(1) {
  color: #335bf5;
}
footer .catchalldivs .topData .socialmedias a:nth-child(2) {
  color: #e51f5a;
}
footer .catchalldivs .topData .socialmedias a:nth-child(3) {
  color: #21a6df;
}
footer .catchalldivs .topData .socialmedias a:nth-child(4) {
  color: #e42f08;
  margin-right: 0;
}
footer .catchalldivs .middlescore {
  display: flex;
  justify-content: center;
  p {
    height: 1px;
    border: 1px solid #364067;
    width: 65%;
  }
}
footer .catchalldivs .middledata {
  display: flex;
  justify-content: center;
  margin-top: 70px;

  ul {
    list-style-type: none;
  }
  div {
    margin-right: 63px;
  }
  @media (max-width:666px) {
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    
  }
}
footer .catchalldivs .middledata h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}
footer .catchalldivs .middledata li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $info;
  margin-bottom: 10px;
}
footer .bottominfo {
  height: 74px;
  background-color: #17213c;
  display: flex;
  align-items: center;
  justify-content: center;
  h6 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $light_text_color;
  }
}

// Footer end
